# Base de données MongoDB
MONGO_URI=mongodb://localhost:27017/smartlib

# Secret JWT (changer en production)
JWT_SECRET=smartlib_secret_change_me_in_production

# URL du frontend
FRONTEND_URL=http://localhost:5173

# Port du serveur
PORT=7080
